*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a{
    text-decoration: none;
}

/* navigation bar */
header{
    margin: 1em 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
}

ul{
    list-style: none;
}


.nav-logo{
    color: rgb(197, 143, 43);
    font-size: 3rem;
    font-weight: 700;
}
.nav-logo:hover{
    color: rgb(78, 78, 216);
}
.nav-items{
    display: flex;
    
}

.nav-item{
 margin: 2rem;   
 font-size: 1.5rem;


}

.nav-item a{
    color: rgb(0, 0, 0);
    font-weight: 800;
}
.nav-items a:hover{
 color: rgb(173, 126, 24)
}


/* About me section */

main{
    margin: 3em 4rem;
}
.main-section{
    font-weight: 700;
    font-size: 4rem;
}
.contact-button{
    background-color: rgb(156, 120, 65);
    border-radius: 2em;
    color: rgb(241, 241, 241);
    font-size: 0.5em;
    padding: 0.3em;
    margin: 1em 0em;
    display: inline-block;
}
.contact-button:hover{
    color: rgb(156, 120, 30);
}

.image{
    position: absolute;
    height: auto;
    top: 200px;
    right: 10px;
}

.social a{
    font-size:2em;
    color: rgb(15, 15, 15);
    padding:0 0.2em 0 0 ;
}

.social a:hover{
    color: rgb(202, 135, 59);
}


/* here begins the about section */
.about{
    padding: 0;
    margin: 19rem 0;
}

.about-container{
    display: flex;
    justify-content: start;
}
h1{
    color:  rgb(197, 143, 43);
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}
h2{
    font-weight: 700;
    font-size: 1.9rem;
}
    

.about-text{
   margin: 3rem 4rem;
   font-size: 1.2rem;
   justify-content: right;
}

.about-img{
    border-radius: 10px;
    width: 280px;
    height: auto;
}

.picture{
    justify-content: left;
    border-radius: 10px;
    margin: 0 4rem;
}